#
# Copy this file to config.yml
#
user:
password:
host:
dbname:

# The following database drivers are available:
# - mysqli
# - pdo_sqlite
# - pdo_pgsql
# - pdo_oci
# - pdo_sqlsrv
# - sqlsrv
# - oci8
# - sqlanywhere
driver:
